ingrid-mdek-api/src/docs/mdek_data.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:complexType name="MDEK_REQUEST_MAP">
		<xs:all>
			<!-- user-id specifies current user for tracking running jobs -->
			<xs:element name="user-id" type="xs:string"/>
			<xs:element ref="uuid"/>
			<xs:element name="parent-uuid" type="UUID"/>
			<xs:element name="from-uuid" type="UUID"/>
			<xs:element name="to-uuid" type="UUID"/>
			<xs:element name="sys-list-ids" type="INTEGER_ARRAY"/>
			<xs:element name="language-code" type="xs:integer"/>
			<xs:element name="OBJECT_MAP" type="OBJECT_MAP"/>
			<xs:element name="REQUEST_ADDITIONAL_INFO_MAP" type="REQUEST_ADDITIONAL_INFO_MAP"/>
		</xs:all>
	</xs:complexType>

	<xs:complexType name="MDEK_RESULT_MAP">
		<xs:all>
			<xs:element name="OBJECT_MAP" type="OBJECT_MAP"/>
			<xs:element name="objEntities" type="OBJECT_LIST"/>
			<xs:element name="adrEntities" type="ADDRESS_LIST"/>
			<xs:element name="path" type="UUID_LIST"/>
			<xs:element name="RESULT_ADDITIONAL_INFO_MAP" type="RESULT_ADDITIONAL_INFO_MAP"/>
			<xs:element name="RESULT_SYS_LIST_MAP" type="RESULT_SYS_LIST_MAP"/>
			<xs:element name="CATALOG_MAP" type="CATALOG_MAP"/>
			<xs:element name="RUNNING_JOBS_INFO_MAP" type="RUNNING_JOBS_INFO_MAP"/>
		</xs:all>
	</xs:complexType>

	<xs:complexType name="OBJECT_MAP">
		<xs:all>
			<xs:element ref="id"/>
			<xs:element ref="uuid"/>
			<xs:element ref="class"/>
			<xs:element ref="hasChild"/>
			<xs:element ref="isPublished"/>
			<xs:element ref="date-of-creation"/>
			<xs:element ref="date-of-last-modification"/>
			<xs:element ref="work-state"/>
			<xs:element name="dataset-alternate-name" type="xs:string"/>
			<xs:element name="title" type="xs:string"/>
			<xs:element name="abstract" type="xs:string"/>
			
			<xs:element name="SPATIAL_REF_MAP" type="SPATIAL_REF_MAP"/>
			<xs:element name="TIME_MAP" type="TIME_MAP"/>
			
			<xs:element name="metadata-language" type="xs:string"/>
			<xs:element name="data-language" type="xs:string"/>
			<xs:element name="publication-condition" type="xs:integer"/>
			<xs:element name="dataset-intensions" type="xs:string"/>
			<xs:element name="dataset-usage" type="xs:string"/>
			
			<xs:element name="ordering-instructions" type="xs:string"/>
			<xs:element name="use-constraints" type="xs:string"/>
			<xs:element name="fees" type="xs:string"/>
			<xs:element name="is-catalog-data" type="xs:string"/>
			
			<xs:element name="original-control-identifier" type="xs:string"/>
			<xs:element name="no-of-parents" type="xs:integer"/>
			<xs:element name="catalogue-identifier" type="xs:long"/>
			<xs:element name="dataset-character-set" type="xs:integer"/>
			<xs:element name="metadata-character-set" type="xs:integer"/>
			<xs:element name="metadata-standard-name" type="xs:string"/>
			<xs:element name="metadata-standard-version" type="xs:string"/>
			<xs:element name="lastexport-time" type="TIMESTAMP"/>
			<xs:element name="expiry-time" type="TIMESTAMP"/>
			<xs:element name="work-version" type="xs:integer"/>
			<xs:element name="mark-deleted" type="xs:string"/>
			<xs:element ref="mod-uuid"/>
			<xs:element name="responsible-uuid" type="UUID"/>

			<xs:element name="linkages" type="LINKAGE_LIST"/>
			<xs:element name="dataset-references" type="DATASET_REFERENCE_LIST"/>
			<xs:element name="exports" type="STRING_LIST"/>
			<xs:element name="legislations" type="STRING_LIST"/>
			<xs:element name="data-formats" type="DATA_FORMAT_LIST"/>
			<xs:element name="medium-options" type="MEDIUM_OPTION_LIST"/>
			<xs:element name="subject-terms" type="SUBJECT_TERM_LIST"/>
			<xs:element name="env-categories" type="STRING_LIST"/>
			<xs:element name="env-topics" type="STRING_LIST"/>
			<xs:element name="topic-categories" type="INTEGER_LIST"/>
			
			<xs:element name="OBJ_RELATIONS_MAP" type="OBJ_RELATIONS_MAP"/>

			<xs:element name="technical-domain-map" type="TECHNICAL_DOMAIN_MAP_MAP"/>
			<xs:element name="technical-domain-service" type="TECHNICAL_DOMAIN_SERVICE_MAP"/>
			<xs:element name="technical-domain-project" type="TECHNICAL_DOMAIN_PROJECT_MAP"/>
			<xs:element name="technical-domain-dataset" type="TECHNICAL_DOMAIN_DATASET_MAP"/>
			<xs:element name="technical-domain-document" type="TECHNICAL_DOMAIN_DOCUMENT_MAP"/>
			<xs:element name="comments" type="COMMENT_LIST"/>
			<xs:element name="parent-info" type="OBJ_PARENT_INFO_MAP"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="ADDRESS_MAP">
		<xs:all>
			<xs:element ref="id"/>
			<xs:element ref="uuid"/>
			<xs:element ref="class"/>
			<xs:element ref="hasChild"/>
			<xs:element name="organisation" type="xs:string"/>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="given-name" type="xs:string"/>
			<xs:element name="name-form" type="xs:string"/>
			<xs:element name="title-or-function" type="xs:string"/>
			<xs:element name="street" type="xs:string"/>
			<xs:element name="postal-code-of-country" type="xs:string"/>
			<xs:element name="postal-code" type="xs:string"/>
			<xs:element name="city" type="xs:string"/>
			<xs:element name="post-box-postal-code" type="xs:string"/>
			<xs:element name="post-box" type="xs:string"/>
			<xs:element name="function" type="xs:string"/>
			<xs:element name="address-description" type="xs:string"/>
			<xs:element name="original-address-identifier" type="xs:string"/>
			<xs:element name="communication" type="COMMUNICATION_LIST"/>
			
			<xs:element name="ADR_RELATIONS_MAP" type="ADR_RELATIONS_MAP"/>
			<xs:element name="parent-info" type="ADDR_PARENT_INFO_MAP"/>
		</xs:all>
	</xs:complexType>

	<xs:element name="id" type="xs:long"/>
	<xs:element name="uuid" type="UUID"/>
	<xs:element name="class" type="xs:integer"/>
	<xs:element name="hasChild" type="xs:boolean"/>
	<xs:element name="isPublished" type="xs:boolean"/>
	<xs:element name="date-of-creation" type="TIMESTAMP"/>
	<xs:element name="date-of-last-modification" type="TIMESTAMP"/>
	<xs:element name="work-state" type="xs:string"/>
	<!-- db: special_name -->
	<xs:element name="relation-type-name" type="xs:string"/>
	<!-- db: special_ref  -->
	<xs:element name="relation-type-ref" type="xs:integer"/>
	<xs:element name="mod-uuid" type="UUID"/>
	
	<xs:simpleType name="TIMESTAMP">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="UUID">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	
	<xs:complexType name="REQUEST_ADDITIONAL_INFO_MAP">
		<xs:all>
			<xs:element name="requestinfo_refetchEntity" type="xs:boolean"/>
			<xs:element name="requestinfo_copySubtree" type="xs:boolean"/>
			<xs:element name="requestinfo_performCheck" type="xs:boolean"/>
			<xs:element name="requestinfo_forcePublicationCondition" type="xs:boolean"/>
			<xs:element name="requestinfo_onlyFreeAddresses" type="xs:boolean"/>
		</xs:all>
	</xs:complexType>	
	<xs:complexType name="RESULT_ADDITIONAL_INFO_MAP">
		<xs:all>
			<xs:element name="resultinfo_wasFullyDeleted" type="xs:boolean"/>
			<xs:element name="resultinfo_hasWorkingCopy" type="xs:boolean"/>
			<xs:element name="resultinfo_numberOfProcessedEntities" type="xs:integer"/>
			<xs:element name="resultinfo_uuidOfFoundEntity" type="UUID"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="RUNNING_JOBS_INFO_MAP">
		<xs:all>
			<xs:element name="runningjob-description" type="xs:string"/>
			<xs:element name="runningjob-number-processed-entities" type="xs:integer"/>
			<xs:element name="runningjob-number-total-entities" type="xs:integer"/>
			<xs:element name="runningjob-canceled-by-user" type="xs:boolean"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="RESULT_SYS_LIST_MAP">
		<xs:all>
			<!-- SYS LIST EXAMPLE ! list ids are passed in request ! -->
			<xs:element name="sys-list-1100" type="SYS_LIST_MAP"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="SYS_LIST_MAP">
		<xs:sequence>
			<xs:element name="lst-id" type="xs:integer"/>
			<xs:element name="lst-entry-list" type="SYS_LIST_ENTRY_LIST"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SYS_LIST_ENTRY_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="SYS_LIST_ENTRY_MAP" type="SYS_LIST_ENTRY_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SYS_LIST_ENTRY_MAP">
		<xs:sequence>
			<xs:element name="entry-id" type="xs:integer"/>
			<xs:element name="entry-name" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OBJECT_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="OBJECT_MAP" type="OBJECT_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UUID_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="STRING"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="STRING_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="STRING" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="INTEGER_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="INTEGER" type="xs:integer"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="INTEGER_ARRAY">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="INTEGER" type="xs:integer"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SPATIAL_REF_MAP">
		<xs:sequence>
			<xs:element name="vertical-extent-minimum" type="xs:double"/>
			<xs:element name="vertical-extent-maximum" type="xs:double"/>
			<xs:element name="vertical-extent-unit" type="xs:integer"/>
			<xs:element name="vertical-extent-vdatum" type="xs:integer"/>
			<xs:element name="description-of-spatial-domain" type="xs:string"/>
			<xs:element name="locations" type="LOCATION_LIST"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LOCATION_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="LOCATION_MAP" type="LOCATION_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LOCATION_MAP">
		<xs:sequence>
			<xs:element name="location-name" type="xs:string"/>
			<xs:element name="location-type" type="xs:string"/>
			<xs:element name="location-code" type="xs:string"/>
			<xs:element name="location-sns-id" type="xs:string"/>
			<xs:element name="west-bounding-coordinate" type="xs:double"/>
			<xs:element name="east-bounding-coordinate" type="xs:double"/>
			<xs:element name="north-bounding-coordinate" type="xs:double"/>
			<xs:element name="south-bounding-coordinate" type="xs:double"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SUBJECT_TERM_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="SUBJECT_TERM_MAP" type="SUBJECT_TERM_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SUBJECT_TERM_MAP">
		<xs:sequence>
			<xs:element name="term-name" type="xs:string"/>
			<xs:element name="term-type" type="xs:string"/>
			<xs:element name="term-sns-id" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TIME_MAP">
		<xs:sequence>
			<xs:element name="time-type" type="xs:string"/>
			<xs:element name="beginning-date" type="TIMESTAMP"/>
			<xs:element name="ending-date" type="TIMESTAMP"/>
			<xs:element name="time-status" type="xs:integer"/>
			<xs:element name="time-period" type="xs:integer"/>
			<xs:element name="time-step" type="xs:string"/>
			<xs:element name="time-scale" type="xs:string"/>
			<xs:element name="description-of-temporal-domain" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LINKAGE_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="LINKAGE_MAP" type="LINKAGE_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LINKAGE_MAP">
		<xs:sequence>
			<xs:element name="linkage-url" type="xs:string"/>
			<xs:element name="linkage-reference-id" type="xs:integer"/>
			<xs:element name="linkage-reference" type="xs:string"/>
			<xs:element name="linkage-datatype" type="xs:string"/>
			<xs:element name="linkage-volume" type="xs:string"/>
			<xs:element name="linkage-icon-url" type="xs:string"/>
			<xs:element name="linkage-icon-text" type="xs:string"/>
			<xs:element name="linkage-description" type="xs:string"/>
			<xs:element name="linkage-name" type="xs:string"/>
			<xs:element name="linkage-url-type" type="xs:integer"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DATASET_REFERENCE_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="DATASET_REFERENCE_MAP" type="DATASET_REFERENCE_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DATASET_REFERENCE_MAP">
		<xs:sequence>
			<xs:element name="dataset-reference-date" type="TIMESTAMP"/>
			<xs:element name="dataset-reference-type" type="xs:integer"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DATA_FORMAT_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="DATA_FORMAT_MAP" type="DATA_FORMAT_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DATA_FORMAT_MAP">
		<xs:sequence>
			<xs:element name="format-name" type="xs:string"/>
			<xs:element name="format-version" type="xs:string"/>
			<xs:element name="format-specification" type="xs:string"/>
			<xs:element name="format-file-decompression-technique" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MEDIUM_OPTION_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="MEDIUM_OPTION_MAP" type="MEDIUM_OPTION_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MEDIUM_OPTION_MAP">
		<xs:sequence>
			<xs:element name="medium-name" type="xs:integer"/>
			<xs:element name="medium-transfer-size" type="xs:double"/>
			<xs:element name="medium-note" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OBJ_RELATIONS_MAP">
		<xs:sequence>
			<xs:element ref="relation-type-name"/>
			<xs:element ref="relation-type-ref"/>
			<xs:element name="relation-description" type="xs:string"/>
			<xs:element name="objReferencesFrom" type="OBJECT_LIST"/>
			<xs:element name="objReferencesTo" type="OBJECT_LIST"/>
			<xs:element name="adrReferencesTo" type="ADDRESS_LIST"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ADDRESS_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="ADDRESS_MAP" type="ADDRESS_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="COMMUNICATION_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="COMMUNICATION_MAP" type="COMMUNICATION_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="COMMUNICATION_MAP">
		<xs:sequence>
			<xs:element name="communication-medium" type="xs:string"/>
			<xs:element name="communication-value"  type="xs:string"/>
			<xs:element name="communication-description" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ADR_RELATIONS_MAP">
		<xs:sequence>
			<!-- db: type -->
			<xs:element name="relation-type-id" type="xs:integer"/>
			<xs:element ref="relation-type-name"/>
			<xs:element ref="relation-type-ref"/>
			<xs:element name="relation-date-of-last-modification" type="TIMESTAMP"/>
			<xs:element name="objReferencesFrom" type="OBJECT_LIST"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TECHNICAL_DOMAIN_MAP_MAP">
		<xs:sequence>
			<xs:element name="technical-base" type="xs:string"/>
			<xs:element name="data" type="xs:string"/>
			<xs:element name="method-of-production" type="xs:string"/>
			<xs:element name="coordinate-system" type="xs:string"/>
			<xs:element name="resolution" type="xs:double"/>
			<xs:element name="degree-of-record" type="xs:double"/>
			<xs:element name="hierarchy-level" type="xs:integer"/>
			<xs:element name="vector-topology-level" type="xs:integer"/>
			<xs:element name="referencesystem-id" type="xs:integer"/>
			<xs:element name="pos-accuracy-vertical" type="xs:double"/>
			<xs:element name="keyc-incl-w-dataset" type="xs:integer"/>
			<xs:element name="key-catalog-list" type="TECHNICAL_DOMAIN_MAP_KEY_CATALOG_LIST"/>
			<xs:element name="publication-scale-list" type="TECHNICAL_DOMAIN_MAP_PUBLICATION_SCALE_LIST"/>
			<xs:element name="symbol-catalog-list" type="TECHNICAL_DOMAIN_MAP_SYMBOL_CATALOG_LIST"/>
			<xs:element name="feature-type-list" type="STRING_LIST"/>
			<xs:element name="geo-vector-list" type="TECHNICAL_DOMAIN_MAP_GEO_VECTOR_LIST"/>
			<xs:element name="spatial-representation-type-list" type="INTEGER_LIST"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TECHNICAL_DOMAIN_MAP_GEO_VECTOR_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="TECHNICAL_DOMAIN_MAP_GEO_VECTOR_MAP" type="TECHNICAL_DOMAIN_MAP_GEO_VECTOR_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TECHNICAL_DOMAIN_MAP_GEO_VECTOR_MAP">
		<xs:sequence>
			<xs:element name="geometric-object-type" type="xs:integer"/>
			<xs:element name="geometric-object-count" type="xs:integer"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TECHNICAL_DOMAIN_MAP_KEY_CATALOG_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="TECHNICAL_DOMAIN_MAP_KEY_CATALOG_MAP" type="TECHNICAL_DOMAIN_MAP_KEY_CATALOG_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TECHNICAL_DOMAIN_MAP_KEY_CATALOG_MAP">
		<xs:sequence>
			<xs:element name="subject-cat" type="xs:string"/>
			<xs:element name="key-date" type="xs:string"/>
			<xs:element name="edition" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TECHNICAL_DOMAIN_MAP_PUBLICATION_SCALE_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="TECHNICAL_DOMAIN_MAP_PUBLICATION_SCALE_MAP" type="TECHNICAL_DOMAIN_MAP_PUBLICATION_SCALE_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TECHNICAL_DOMAIN_MAP_PUBLICATION_SCALE_MAP">
		<xs:sequence>
			<xs:element name="scale" type="xs:integer"/>
			<xs:element name="resolution-ground" type="xs:double"/>
			<xs:element name="resolution-scan" type="xs:double"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TECHNICAL_DOMAIN_MAP_SYMBOL_CATALOG_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="TECHNICAL_DOMAIN_MAP_SYMBOL_CATALOG_MAP" type="TECHNICAL_DOMAIN_MAP_SYMBOL_CATALOG_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TECHNICAL_DOMAIN_MAP_SYMBOL_CATALOG_MAP">
		<xs:sequence>
			<xs:element name="symbol-cat" type="xs:string"/>
			<xs:element name="symbol-date" type="xs:string"/>
			<xs:element name="symbol-edition" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TECHNICAL_DOMAIN_SERVICE_MAP">
		<xs:sequence>
			<xs:element name="service-type" type="xs:string"/>
			<xs:element name="system-history" type="xs:string"/>
			<xs:element name="system-environment" type="xs:string"/>
			<xs:element name="database-of-system" type="xs:string"/>
			<xs:element name="description-of-tech-domain" type="xs:string"/>
			<xs:element name="service-version-list" type="STRING_LIST"/>
			<xs:element name="service-operation-list" type="TECHNICAL_DOMAIN_SERVICE_OP_LIST"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TECHNICAL_DOMAIN_SERVICE_OP_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="TECHNICAL_DOMAIN_SERVICE_OP_MAP" type="TECHNICAL_DOMAIN_SERVICE_OP_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TECHNICAL_DOMAIN_SERVICE_OP_MAP">
		<xs:sequence>
			<xs:element name="service-operation-name" type="xs:string"/>
			<xs:element name="service-operation-description" type="xs:string"/>
			<xs:element name="invocation-name" type="xs:string"/>
			<xs:element name="platform-list" type="STRING_LIST"/>
			<xs:element name="depends-on-list" type="STRING_LIST"/>
			<xs:element name="connect-point-list" type="STRING_LIST"/>
			<xs:element name="parameter-list" type="TECHNICAL_DOMAIN_SERVICE_OP_PARAM_LIST"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TECHNICAL_DOMAIN_SERVICE_OP_PARAM_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="TECHNICAL_DOMAIN_SERVICE_OP_PARAM_MAP" type="TECHNICAL_DOMAIN_SERVICE_OP_PARAM_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TECHNICAL_DOMAIN_SERVICE_OP_PARAM_MAP">
		<xs:sequence>
			<xs:element name="parameter-name" type="xs:string"/>
			<xs:element name="direction" type="xs:string"/>
			<xs:element name="description" type="xs:string"/>
			<xs:element name="optionality" type="xs:integer"/>
			<xs:element name="repeatability" type="xs:integer"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TECHNICAL_DOMAIN_PROJECT_MAP">
		<xs:sequence>
			<xs:element name="leader-description" type="xs:string"/>
			<xs:element name="member-description" type="xs:string"/>
			<xs:element name="description-of-tech-domain" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TECHNICAL_DOMAIN_DOCUMENT_MAP">
		<xs:sequence>
			<xs:element name="author" type="xs:string"/>
			<xs:element name="editor" type="xs:string"/>
			<xs:element name="type-of-document" type="xs:string"/>
			<xs:element name="published-in" type="xs:string"/>
			<xs:element name="volume" type="xs:string"/>
			<xs:element name="pages" type="xs:string"/>
			<xs:element name="year" type="xs:string"/>
			<xs:element name="publishing-place" type="xs:string"/>
			<xs:element name="location" type="xs:string"/>
			<xs:element name="additional-bibliographic-info" type="xs:string"/>
			<xs:element name="source" type="xs:string"/>
			<xs:element name="isbn" type="xs:string"/>
			<xs:element name="publisher" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TECHNICAL_DOMAIN_DATASET_MAP">
		<xs:sequence>
			<xs:element name="method" type="xs:string"/>
			<xs:element name="description-of-tech-domain" type="xs:string"/>
			<xs:element name="parameters" type="TECHNICAL_DOMAIN_DATASET_PARA_LIST"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TECHNICAL_DOMAIN_DATASET_PARA_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="TECHNICAL_DOMAIN_DATASET_PARA_MAP" type="TECHNICAL_DOMAIN_DATASET_PARA_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TECHNICAL_DOMAIN_DATASET_PARA_MAP">
		<xs:sequence>
			<xs:element name="parameter" type="xs:string"/>
			<xs:element name="supplementary-information" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="COMMENT_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="COMMENT_MAP" type="COMMENT_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="COMMENT_MAP">
		<xs:sequence>
			<xs:element name="comment" type="xs:string"/>
			<xs:element name="create_uuid" type="xs:string"/>
			<xs:element name="create_time" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OBJ_PARENT_INFO_MAP">
		<xs:sequence>
			<xs:element name="publication-condition" type="xs:integer"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ADDR_PARENT_INFO_MAP">
		<xs:sequence>
			<xs:element ref="class"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CATALOG_MAP">
		<xs:sequence>
			<xs:element ref="uuid"/>
			<xs:element name="catalog-name" type="xs:string"/>
			<xs:element name="country" type="xs:string"/>
			<xs:element name="workflow-control" type="xs:string"/>
			<xs:element name="expiry-duration" type="xs:integer"/>
			<xs:element name="catalog-location" type="LOCATION_MAP"/>
			<xs:element ref="date-of-creation"/>
			<xs:element ref="mod-uuid"/>
			<xs:element ref="date-of-last-modification"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
