ingrid-mdek-api/src/docs/mdek_data.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:complexType name="MDEK_REQUEST_MAP">
		<xs:all>
			<xs:element ref="uuid"/>
			<xs:element name="parent-uuid" type="UUID"/>
			<xs:element name="from-uuid" type="UUID"/>
			<xs:element name="to-uuid" type="UUID"/>
			<xs:element name="OBJECT_MAP" type="OBJECT_MAP"/>
			<xs:element name="REQUEST_ADDITIONAL_INFO_MAP" type="REQUEST_ADDITIONAL_INFO_MAP"/>
		</xs:all>
	</xs:complexType>

	<xs:complexType name="MDEK_RESULT_MAP">
		<xs:all>
			<xs:element name="OBJECT_MAP" type="OBJECT_MAP"/>
			<xs:element name="objEntities" type="OBJECT_LIST"/>
			<xs:element name="adrEntities" type="ADDRESS_LIST"/>
			<xs:element name="path" type="UUID_LIST"/>
			<xs:element name="RESULT_ADDITIONAL_INFO_MAP" type="RESULT_ADDITIONAL_INFO_MAP"/>
			<xs:element name="RESULT_UI_MAP" type="RESULT_UI_MAP"/>
		</xs:all>
	</xs:complexType>

	<xs:complexType name="OBJECT_MAP">
		<xs:all>
			<xs:element ref="id"/>
			<xs:element ref="uuid"/>
			<xs:element ref="class"/>
			<xs:element ref="hasChild"/>
			<xs:element ref="isPublished"/>
			<xs:element ref="date-of-creation"/>
			<xs:element ref="date-of-last-modification"/>
			<xs:element ref="work-state"/>
			<xs:element name="dataset-alternate-name" type="xs:string"/>
			<xs:element name="title" type="xs:string"/>
			<xs:element name="abstract" type="xs:string"/>
			
			<xs:element name="GEO_MAP" type="GEO_MAP"/>
			<xs:element name="TIME_MAP" type="TIME_MAP"/>
			
			<xs:element name="metadata-language" type="xs:string"/>
			<xs:element name="data-language" type="xs:string"/>
			<xs:element name="publication-condition" type="xs:integer"/>
			<xs:element name="dataset-intensions" type="xs:string"/>
			<xs:element name="dataset-usage" type="xs:string"/>
			
			<xs:element name="ordering-instructions" type="xs:string"/>
			<xs:element name="use-constraints" type="xs:string"/>
			<xs:element name="fees" type="xs:string"/>
			
			<xs:element name="original-control-identifier" type="xs:string"/>
			<xs:element name="no-of-parents" type="xs:integer"/>
			<xs:element name="catalogue-identifier" type="xs:long"/>
			<xs:element name="dataset-character-set" type="xs:integer"/>
			<xs:element name="metadata-character-set" type="xs:integer"/>
			<xs:element name="metadata-standard-name" type="xs:string"/>
			<xs:element name="metadata-standard-version" type="xs:string"/>
			<xs:element name="lastexport-time" type="TIMESTAMP"/>
			<xs:element name="expiry-time" type="TIMESTAMP"/>
			<xs:element name="work-version" type="xs:integer"/>
			<xs:element name="mark-deleted" type="xs:string"/>
			<xs:element name="mod-uuid" type="UUID"/>
			<xs:element name="responsible-uuid" type="UUID"/>

			<xs:element name="linkages" type="LINKAGE_LIST"/>
			<xs:element name="dataset-references" type="DATASET_REFERENCE_LIST"/>
			<xs:element name="exports" type="EXPORT_LIST"/>
			<xs:element name="legislations" type="LEGISLATION_LIST"/>
			<xs:element name="data-formats" type="DATA_FORMAT_LIST"/>

			<xs:element name="OBJ_RELATIONS_MAP" type="OBJ_RELATIONS_MAP"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="ADDRESS_MAP">
		<xs:all>
			<xs:element ref="id"/>
			<xs:element ref="uuid"/>
			<xs:element ref="class"/>
			<xs:element ref="hasChild"/>
			<xs:element name="organisation" type="xs:string"/>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="given-name" type="xs:string"/>
			<xs:element name="name-form" type="xs:string"/>
			<xs:element name="title-or-function" type="xs:string"/>
			<xs:element name="street" type="xs:string"/>
			<xs:element name="postal-code-of-country" type="xs:string"/>
			<xs:element name="city" type="xs:string"/>
			<xs:element name="post-box-postal-code" type="xs:string"/>
			<xs:element name="post-box" type="xs:string"/>
			<xs:element name="function" type="xs:string"/>
			<xs:element name="address-description" type="xs:string"/>
			<xs:element name="communication" type="COMMUNICATION_LIST"/>
			
			<xs:element name="ADR_RELATIONS_MAP" type="ADR_RELATIONS_MAP"/>
		</xs:all>
	</xs:complexType>

	<xs:element name="id" type="xs:long"/>
	<xs:element name="uuid" type="UUID"/>
	<xs:element name="class" type="xs:integer"/>
	<xs:element name="hasChild" type="xs:boolean"/>
	<xs:element name="isPublished" type="xs:boolean"/>
	<xs:element name="date-of-creation" type="TIMESTAMP"/>
	<xs:element name="date-of-last-modification" type="TIMESTAMP"/>
	<xs:element name="work-state" type="xs:string"/>
	<!-- db: special_name -->
	<xs:element name="relation-type-name" type="xs:string"/>
	<!-- db: special_ref  -->
	<xs:element name="relation-type-ref" type="xs:integer"/>

	<xs:simpleType name="TIMESTAMP">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="UUID">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	
	<xs:complexType name="REQUEST_ADDITIONAL_INFO_MAP">
		<xs:all>
			<xs:element name="requestinfo_refetchEntity" type="xs:boolean"/>
			<xs:element name="requestinfo_copySubtree" type="xs:boolean"/>
			<xs:element name="requestinfo_performCheck" type="xs:boolean"/>
		</xs:all>
	</xs:complexType>	
	<xs:complexType name="RESULT_ADDITIONAL_INFO_MAP">
		<xs:all>
			<xs:element name="resultinfo_wasFullyDeleted" type="xs:boolean"/>
			<xs:element name="resultinfo_hasWorkingCopy" type="xs:boolean"/>
			<xs:element name="resultinfo_numberOfProcessedEntities" type="xs:integer"/>
			<xs:element name="resultinfo_uuidOfFoundEntity" type="UUID"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="RESULT_UI_MAP">
		<xs:all>
			<xs:element name="ui_freeSpatialReferences" type="STRING_LIST"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="OBJECT_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="OBJECT_MAP" type="OBJECT_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UUID_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="STRING"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="STRING_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="STRING"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GEO_MAP">
		<xs:sequence>
			<xs:element name="vertical-extent-minimum" type="xs:double"/>
			<xs:element name="vertical-extent-maximum" type="xs:double"/>
			<xs:element name="vertical-extent-unit" type="xs:integer"/>
			<xs:element name="vertical-extent-vdatum" type="xs:integer"/>
			<xs:element name="description-of-spatial-domain" type="xs:string"/>
			<xs:element name="locations" type="LOCATION_LIST"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LOCATION_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="LOCATION_MAP" type="LOCATION_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LOCATION_MAP">
		<xs:sequence>
			<xs:element name="location-name" type="xs:string"/>
			<xs:element name="location-type" type="xs:string"/>
			<xs:element name="location-code" type="xs:string"/>
			<xs:element name="location-sns-id" type="xs:string"/>
			<xs:element name="west-bounding-coordinate" type="xs:double"/>
			<xs:element name="east-bounding-coordinate" type="xs:double"/>
			<xs:element name="north-bounding-coordinate" type="xs:double"/>
			<xs:element name="south-bounding-coordinate" type="xs:double"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TIME_MAP">
		<xs:sequence>
			<xs:element name="time-type" type="xs:string"/>
			<xs:element name="beginning-date" type="TIMESTAMP"/>
			<xs:element name="ending-date" type="TIMESTAMP"/>
			<xs:element name="time-status" type="xs:integer"/>
			<xs:element name="time-period" type="xs:integer"/>
			<xs:element name="time-step" type="xs:string"/>
			<xs:element name="time-scale" type="xs:string"/>
			<xs:element name="description-of-temporal-domain" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LINKAGE_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="LINKAGE_MAP" type="LINKAGE_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LINKAGE_MAP">
		<xs:sequence>
			<xs:element name="linkage-url" type="xs:string"/>
			<xs:element name="linkage-reference-id" type="xs:integer"/>
			<xs:element name="linkage-reference" type="xs:string"/>
			<xs:element name="linkage-datatype" type="xs:string"/>
			<xs:element name="linkage-volume" type="xs:string"/>
			<xs:element name="linkage-icon-url" type="xs:string"/>
			<xs:element name="linkage-icon-text" type="xs:string"/>
			<xs:element name="linkage-description" type="xs:string"/>
			<xs:element name="linkage-name" type="xs:string"/>
			<xs:element name="linkage-url-type" type="xs:integer"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DATASET_REFERENCE_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="DATASET_REFERENCE_MAP" type="DATASET_REFERENCE_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DATASET_REFERENCE_MAP">
		<xs:sequence>
			<xs:element name="dataset-reference-date" type="TIMESTAMP"/>
			<xs:element name="dataset-reference-type" type="xs:integer"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EXPORT_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="STRING" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LEGISLATION_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="STRING" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DATA_FORMAT_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="DATA_FORMAT_MAP" type="DATA_FORMAT_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DATA_FORMAT_MAP">
		<xs:sequence>
			<xs:element name="data-format-name" type="xs:string"/>
			<xs:element name="data-format-version" type="xs:string"/>
			<xs:element name="data-format-specification" type="xs:string"/>
			<xs:element name="data-format-file-decompression-technique" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OBJ_RELATIONS_MAP">
		<xs:sequence>
			<xs:element ref="relation-type-name"/>
			<xs:element ref="relation-type-ref"/>
			<xs:element name="relation-description" type="xs:string"/>
			<xs:element name="objReferencesFrom" type="OBJECT_LIST"/>
			<xs:element name="objReferencesTo" type="OBJECT_LIST"/>
			<xs:element name="adrReferencesTo" type="ADDRESS_LIST"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ADDRESS_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="ADDRESS_MAP" type="ADDRESS_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="COMMUNICATION_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="COMMUNICATION_MAP" type="COMMUNICATION_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="COMMUNICATION_MAP">
		<xs:sequence>
			<xs:element name="communication-medium" type="xs:string"/>
			<xs:element name="communication-value"  type="xs:string"/>
			<xs:element name="communication-description" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ADR_RELATIONS_MAP">
		<xs:sequence>
			<!-- db: type -->
			<xs:element name="relation-type-id" type="xs:integer"/>
			<xs:element ref="relation-type-name"/>
			<xs:element ref="relation-type-ref"/>
			<xs:element name="relation-date-of-last-modification" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
