ingrid-mdek-api/src/docs/mdek_data.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:complexType name="MDEK_REQUEST_MAP">
		<xs:all>
			<!-- user-id specifies current user for tracking running jobs -->
			<xs:element name="user-id" type="xs:string"/>
			<xs:element ref="uuid"/>
			<xs:element ref="parent-uuid"/>
			<xs:element name="from-uuid" type="UUID"/>
			<xs:element name="to-uuid" type="UUID"/>
			<!-- request specific sys-lists -->
			<xs:element name="sys-list-ids" type="INTEGER_ARRAY"/>
			<!-- request specific sys-guis -->
			<xs:element name="sys-gui-ids" type="STRING_ARRAY"/>
			<!-- WRITE sysguis -->
			<xs:element name="sys-gui-list" type="SYS_GUI_ELEMENT_LIST"/>
			<!-- request specific sys-additional-fields -->
			<xs:element name="sys-additional-field-ids" type="LONG_ARRAY"/>
			<xs:element ref="language"/>
			<xs:element name="OBJECT_MAP" type="OBJECT_MAP"/>
			<!-- how much objects referencing an address to fetch and where to start (needed for paging of object references in address) -->
			<xs:element name="objReferencesFrom_startIndex" type="xs:integer"/>
			<xs:element name="objReferencesFrom_maxNum" type="xs:integer"/>
			<xs:element name="ADDRESS_MAP" type="ADDRESS_MAP"/>
			<xs:element name="REQUEST_ADDITIONAL_INFO_MAP" type="REQUEST_ADDITIONAL_INFO_MAP"/>
			<xs:element name="REQUEST_SEARCH_MAP" type="REQUEST_SEARCH_MAP"/>
			<xs:element name="REQUEST_SECURITY_MAP" type="REQUEST_SECURITY_MAP"/>
			<xs:element name="REQUEST_EXPORT_MAP" type="REQUEST_EXPORT_MAP"/>
			<xs:element name="REQUEST_IMPORT_MAP" type="REQUEST_IMPORT_MAP"/>
		</xs:all>
	</xs:complexType>

	<xs:complexType name="MDEK_RESULT_MAP">
		<xs:all>
			<xs:element name="OBJECT_MAP" type="OBJECT_MAP"/>
			<xs:element name="ADDRESS_MAP" type="ADDRESS_MAP"/>
			<!-- added here, returned when paging, e.g. when fetching QA entities. Also part of specific description of results, e.g. in RESULT_STATISTICS_MAP -->
			<xs:element name="total-num-paging" type="xs:long"/>
			<!-- total number of entities assigned to QA -->
			<xs:element name="total-num-qa-assigned" type="xs:long"/>
			<!-- total number of entities reassigned from QA -->
			<xs:element name="total-num-qa-reassigned" type="xs:long"/>
			<!-- number of entities in list -->
			<xs:element name="total-num" type="xs:long"/>
			<xs:element name="objEntities" type="OBJECT_LIST"/>
			<xs:element name="adrEntities" type="ADDRESS_LIST"/>
			<xs:element name="path" type="UUID_LIST"/>
			<xs:element name="path_organisations" type="PATH_LIST"/>
			<xs:element name="RESULT_ADDITIONAL_INFO_MAP" type="RESULT_ADDITIONAL_INFO_MAP"/>
			<xs:element name="RESULT_SYS_LIST_MAP" type="RESULT_SYS_LIST_MAP"/>
			<xs:element name="RESULT_SYS_GUI_MAP" type="RESULT_SYS_GUI_MAP"/>
			<xs:element name="RESULT_SYS_ADDITIONAL_FIELDS_MAP" type="RESULT_SYS_ADDITIONAL_FIELDS_MAP"/>
			<xs:element name="RESULT_CATALOG_MAP" type="RESULT_CATALOG_MAP"/>
			<xs:element name="RESULT_RUNNING_JOBS_MAP" type="RESULT_RUNNING_JOBS_MAP"/>
			<xs:element name="RESULT_SEARCH_MAP" type="RESULT_SEARCH_MAP"/>
			<xs:element name="RESULT_VERSION_MAP" type="RESULT_VERSION_MAP"/>
			<xs:element name="RESULT_SECURITY_MAP" type="RESULT_SECURITY_MAP"/>
			<xs:element name="RESULT_STATISTICS_MAP" type="RESULT_STATISTICS_MAP"/>
			<xs:element name="RESULT_EXPORT_MAP" type="RESULT_EXPORT_MAP"/>
			<xs:element name="RESULT_IMPORT_MAP" type="RESULT_IMPORT_MAP"/>
		</xs:all>
	</xs:complexType>

	<!-- Additional Error Info when Mdek Exception is thrown concerning Security -->
	<xs:complexType name="EXCEPTION_SECURITY_INFO_MAP">
		<xs:sequence>
			<xs:choice>
				<!-- IDCUsers ! e.g. IdcUsers in group when group deleted and no forceDeleteGroupWhenUsers ... -->
				<xs:element name="idc-users" type="IDC_USER_LIST"/>
				<!-- e.g. mod-user or responsible-user who has no permission anymore -->
				<xs:element name="user-addresses" type="ADDRESS_LIST"/>
			</xs:choice>
			<xs:choice>
				<!-- The Object(s) affected by the exception. NOTICE: When multiple then order is important (parent/child) -->
				<xs:element name="objEntities" type="OBJECT_LIST"/>
				<!-- The Address(es) affected by the exception. NOTICE: When multiple then order is important (parent/child) -->
				<xs:element name="adrEntities" type="ADDRESS_LIST"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="OBJECT_MAP">
		<xs:all>
			<xs:element ref="id"/>
			<xs:element ref="entity-metadata-id"/>
			<xs:element ref="parent-uuid"/>
			<xs:element ref="uuid"/>
			<xs:element ref="class"/>
			<xs:element ref="hasChild"/>
			<xs:element ref="isPublished"/>
			<xs:element ref="date-of-creation"/>
			<xs:element ref="date-of-last-modification"/>
			<xs:element ref="work-state"/>
			<xs:element name="dataset-alternate-name" type="xs:string"/>
			<xs:element name="title" type="xs:string"/>
			<xs:element name="abstract" type="xs:string"/>
			
			<xs:element name="SPATIAL_REF_MAP" type="SPATIAL_REF_MAP"/>
			<xs:element name="TIME_MAP" type="TIME_MAP"/>
			
			<xs:element name="metadata-language" type="xs:string"/>
			<xs:element name="data-language" type="xs:string"/>
			<xs:element name="publication-condition" type="xs:integer"/>
			<xs:element name="dataset-intentions" type="xs:string"/>
			<xs:element name="dataset-usage" type="xs:string"/>
			
			<xs:element name="ordering-instructions" type="xs:string"/>
			<xs:element name="is-catalog-data" type="xs:string"/>
			
			<xs:element name="original-control-identifier" type="xs:string"/>
			<xs:element name="catalogue-identifier" type="xs:long"/>
			<xs:element name="dataset-character-set" type="xs:integer"/>
			<xs:element name="metadata-character-set" type="xs:integer"/>
			<xs:element name="metadata-standard-name" type="xs:string"/>
			<xs:element name="metadata-standard-version" type="xs:string"/>
			<xs:element name="lastexport-time" type="TIMESTAMP"/>
			<xs:element name="expiry-state" type="xs:integer"/>
			<xs:element name="mark-deleted" type="xs:string"/>
			<xs:element ref="mod-user"/>
			<xs:element ref="responsible-user"/>
			<xs:element name="assigner-uuid" type="xs:string"/>
			<xs:element name="assigner-user"  type="ADDRESS_MAP"/>
			<xs:element name="assign-time" type="TIMESTAMP"/>
			<xs:element name="reassigner-uuid" type="xs:string"/>
			<xs:element name="reassign-time" type="TIMESTAMP"/>
			
			<xs:element name="linkages" type="LINKAGE_LIST"/>
			<xs:element name="dataset-references" type="DATASET_REFERENCE_LIST"/>
			<xs:element name="export-criteria" type="EXPORT_CRITERIA_LIST"/>
			<xs:element name="legislations" type="LEGISLATION_LIST"/>
			<xs:element name="data-formats" type="DATA_FORMAT_LIST"/>
			<xs:element name="medium-options" type="MEDIUM_OPTION_LIST"/>
			<xs:element name="subject-terms" type="SUBJECT_TERM_LIST"/>
			<xs:element name="env-categories" type="INTEGER_LIST"/>
			<xs:element name="env-topics" type="INTEGER_LIST"/>
			<xs:element name="topic-categories" type="INTEGER_LIST"/>
			<xs:element name="comment_list" type="COMMENT_LIST"/>

			<xs:element name="OBJ_RELATIONS_MAP" type="OBJ_RELATIONS_MAP"/>

			<xs:element name="technical-domain-map" type="TECHNICAL_DOMAIN_MAP_MAP"/>
			<xs:element name="technical-domain-service" type="TECHNICAL_DOMAIN_SERVICE_MAP"/>
			<xs:element name="technical-domain-project" type="TECHNICAL_DOMAIN_PROJECT_MAP"/>
			<xs:element name="technical-domain-dataset" type="TECHNICAL_DOMAIN_DATASET_MAP"/>
			<xs:element name="technical-domain-document" type="TECHNICAL_DOMAIN_DOCUMENT_MAP"/>
			<xs:element name="parent-info" type="OBJ_PARENT_INFO_MAP"/>

			<!-- holds permissions of user on entity -->
			<xs:element name="idc-permissions" type="PERMISSION_LIST"/>
			
			<xs:element name="additional-fields" type="ADDITIONAL_FIELD_LIST"/>

			<!-- INSPIRE -->
			<xs:element name="conformity_list" type="CONFORMITY_LIST"/>
			<xs:element name="access_list" type="ACCESS_LIST"/>
			
		</xs:all>
	</xs:complexType>
	<xs:complexType name="ADDRESS_MAP">
		<xs:all>
			<xs:element ref="id"/>
			<xs:element ref="entity-metadata-id"/>
			<xs:element ref="parent-uuid"/>
			<xs:element ref="uuid"/>
			<xs:element ref="class"/>
			<xs:element ref="hasChild"/>
			<xs:element ref="date-of-creation"/>
			<xs:element ref="date-of-last-modification"/>
			<xs:element ref="work-state"/>
			<xs:element ref="organisation"/>
			<xs:element ref="name"/>
			<xs:element ref="given-name"/>
			<xs:element name="name-form" type="xs:string"/>
			<xs:element name="name-form-key" type="xs:integer"/>
			<xs:element name="title-or-function" type="xs:string"/>
			<xs:element name="title-or-function-key" type="xs:integer"/>
			<xs:element name="street" type="xs:string"/>
			<xs:element name="postal-code-of-country" type="xs:string"/>
			<xs:element name="postal-code" type="xs:string"/>
			<xs:element name="city" type="xs:string"/>
			<xs:element name="post-box-postal-code" type="xs:string"/>
			<xs:element name="post-box" type="xs:string"/>
			<xs:element name="function" type="xs:string"/>
			<xs:element name="address-description" type="xs:string"/>
			<xs:element name="original-address-identifier" type="xs:string"/>

			<xs:element name="lastexport-time" type="TIMESTAMP"/>
			<xs:element name="expiry-state" type="xs:integer"/>
			<xs:element name="mark-deleted" type="xs:string"/>
			<xs:element ref="mod-user"/>
			<xs:element ref="responsible-user"/>
			<xs:element name="assigner-uuid" type="xs:string"/>
			<xs:element name="assign-time" type="TIMESTAMP"/>
			<xs:element name="reassigner-uuid" type="xs:string"/>
			<xs:element name="reassign-time" type="TIMESTAMP"/>
			
			<xs:element name="communication" type="COMMUNICATION_LIST"/>
			<xs:element name="subject-terms" type="SUBJECT_TERM_LIST"/>
			<xs:element name="comment_list" type="COMMENT_LIST"/>
			
			<xs:element name="ADR_RELATIONS_MAP" type="ADR_RELATIONS_MAP"/>
			<xs:element name="parent-info" type="ADDR_PARENT_INFO_MAP"/>

			<!-- holds permissions of user on entity -->
			<xs:element name="idc-permissions" type="PERMISSION_LIST"/>
		</xs:all>
	</xs:complexType>

	<xs:element name="id" type="xs:long"/>
	<xs:element name="entity-metadata-id" type="xs:long"/>
	<xs:element name="parent-uuid" type="UUID"/>
	<xs:element name="uuid" type="UUID"/>
	<xs:element name="class" type="xs:integer"/>
	<xs:element name="hasChild" type="xs:boolean"/>
	<xs:element name="isPublished" type="xs:boolean"/>
	<xs:element name="date-of-creation" type="TIMESTAMP"/>
	<xs:element name="date-of-last-modification" type="TIMESTAMP"/>
	<xs:element name="work-state" type="xs:string"/>
	<!-- db: special_name -->
	<xs:element name="relation-type-name" type="xs:string"/>
	<!-- db: special_ref  -->
	<xs:element name="relation-type-ref" type="xs:integer"/>
	<xs:element name="mod-user"  type="ADDRESS_MAP"/>
	<xs:element name="responsible-user"  type="ADDRESS_MAP"/>
	<xs:element name="organisation" type="xs:string"/>
	<xs:element name="name" type="xs:string"/>
	<xs:element name="given-name" type="xs:string"/>
	<xs:element name="language" type="xs:string"/>
	<xs:simpleType name="TIMESTAMP">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="UUID">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	
	<xs:complexType name="REQUEST_ADDITIONAL_INFO_MAP">
		<xs:all>
			<xs:element name="requestinfo_refetchEntity" type="xs:boolean"/>
			<xs:element name="requestinfo_copySubtree" type="xs:boolean"/>
			<xs:element name="requestinfo_performCheck" type="xs:boolean"/>
			<xs:element name="requestinfo_forcePublicationCondition" type="xs:boolean"/>
			<xs:element name="requestinfo_onlyFreeAddresses" type="xs:boolean"/>
			<xs:element name="requestinfo_targetIsFreeAddress" type="xs:boolean"/>
			<xs:element name="requestinfo_forceDeleteReferences" type="xs:boolean"/>
			<!-- e.g. update working- or published-version or both, pass MdekUtils.IdcEntityVersion Enumeration const -->
			<xs:element name="requestinfo_whichEntityVersion" type="xs:integer"/>
			<!-- e.g. fetch entity in this work state, pass MdekUtils.WorkState Enumeration const -->
			<xs:element name="requestinfo_whichWorkState" type="xs:integer"/>
			<!-- e.g. what to fetch from backend ? pass IMdekCaller.FetchQuantity Enumeration const -->
			<xs:element name="requestinfo_fetchQuantity" type="xs:integer"/>
			<!-- Which entities to fetch (e.g. expired ones ...), pass MdekUtils.Idc*SelectionType Enumeration const -->
			<xs:element name="requestinfo_entitySelectionType" type="xs:integer"/>
			<!-- How to order fetched entities ? pass MdekUtils.IdcEntityOrderBy Enumeration const -->
			<xs:element name="requestinfo_entityOrderBy" type="xs:integer"/>
			<!-- Order ascending = true ! else descending -->
			<xs:element name="requestinfo_entityOrderAsc" type="xs:boolean"/>
			<!-- e.g. when fetching permissions for entity include check of workflow state (true) or not (false). e.g. in state "Q" no write if not "QA" -->
			<xs:element name="requestinfo_checkWorkflow" type="xs:boolean"/>
			<!-- generic paging parameters ! added for STATISTICS. Notice: we also have separate paging params for search and Object-Address references :( -->
			<xs:element name="requestinfo_startHit" type="xs:integer"/>
			<xs:element name="requestinfo_numHits" type="xs:integer"/>
		</xs:all>
	</xs:complexType>	
	<xs:complexType name="REQUEST_SEARCH_MAP">
		<xs:all>
			<xs:element name="search-start-hit" type="xs:integer"/>
			<!-- number of hits requested starting at start hit -->
			<xs:element name="total-num" type="xs:long"/>
			<xs:element name="search-params" type="SEARCH_PARAMS_MAP"/>
			<xs:element name="search-ext-params" type="SEARCH_EXT_PARAMS_MAP"/>
			<!-- query: HQL query -->
			<xs:element name="hql-query" type="xs:string"/>
		</xs:all>
	</xs:complexType>	
	<xs:complexType name="SEARCH_PARAMS_MAP">
		<xs:choice>
			<!-- address: search -->
			<xs:sequence>
				<xs:element ref="organisation" />
				<xs:element ref="name" />
				<xs:element ref="given-name" />
			</xs:sequence>
			<!-- query: full text -->
			<xs:element name="search_term" type="xs:string" />
			<!-- query: thesaurus term -->
			<xs:element ref="term-sns-id" />
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="SEARCH_EXT_PARAMS_MAP">
		<xs:choice>
			<!-- address -->
			<xs:sequence>
				<!-- address: extended search: subject: search terms  -->
				<xs:element name="query-term" type="xs:string"/>
				<xs:element name="relation" type="xs:integer"/>
				<!-- address: extended search: subject: search mode ('whole word'(0), 'partial word'(1)) -->
				<xs:element name="search-type" type="xs:integer"/>
				<!-- address: extended search: subject: search range ('all text fields'(0), 'institutions, person, description, keywords'(1)) -->
				<xs:element name="search-range" type="xs:integer"/>
				<!-- address: extended search: spatial  -->
				<xs:element name="street" type="xs:string"/>
				<xs:element name="postal-code" type="xs:string"/>
				<xs:element name="city" type="xs:string"/>
			</xs:sequence>
			<!-- object -->
			<xs:sequence>
				<!-- object: extended search: subject: search term relations (and = 0, or = 1)  -->
				<xs:element name="relation" type="xs:integer"/>
				<!-- object: extended search: subject: search terms  -->
				<xs:element name="query-term" type="xs:string"/>
				<!-- address: extended search: subject: search mode ('whole word'(0), 'partial word'(1)) -->
				<xs:element name="search-type" type="xs:integer"/>
				<!-- object: extended search: subject: object classes  -->
				<xs:element name="obj-classes" type="OBJECT_CLASS_LIST"/>
				<!-- object: extended search: subject: dictionary (only the topic_id will be supplied) -->
				<xs:element name="thesaurus-terms" type="SUBJECT_TERM_LIST"/>
				<!-- object: extended search: subject: relations between entries (and = 0, or = 1) -->
				<xs:element name="thesaurus-relation" type="xs:integer"/>
				<!-- object: extended search: spatial: geo thesaurus (only the location-sns-id will be supplied) -->
				<xs:element name="geo-thesaurus-terms" type="LOCATION_LIST"/>
				<!-- object: extended search: spatial: relations between entries (and = 0, or = 1) -->
				<xs:element name="geo-thesaurus-relation" type="xs:integer"/>
				<!-- object: extended search: spatial: free reference  -->
				<xs:element name="custom-location" type="xs:integer"/>
				<!-- object: extended search: time  -->
				<xs:choice>
					<xs:sequence>
						<xs:element name="time-from" type="xs:string"/>
						<xs:element name="time-to" type="xs:string"/>
					</xs:sequence>
					<xs:element name="time-at" type="xs:string"/>
				</xs:choice>
				<xs:element name="time-intersect" type="xs:boolean"/>
				<xs:element name="time-contains" type="xs:boolean"/>
			</xs:sequence>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="REQUEST_SECURITY_MAP">
		<xs:choice>
			<!-- get permissions on Object/Address via uuid -->
			<xs:element ref="uuid"/>
			<!-- get/save group -->
			<xs:element name="GROUP_MAP" type="GROUP_MAP"/>
			<!-- delete group, even when group has users -->
			<xs:element name="requestinfo_forceDeleteGroupWhenUsers" type="xs:boolean"/>
			<!-- also include group of Catalog Admin, e.g. when fetching all groups-->
			<xs:element name="requestinfo_includeCatAdminGroup" type="xs:boolean"/>
			<!-- get/save user -->
			<xs:element name="IDC_USER_MAP" type="IDC_USER_MAP"/>
			<!-- e.g. get detailed permissions of users having write access on entity, then user holds permission list-->
			<xs:element name="requestinfo_getDetailedPermissions" type="xs:boolean"/>
		</xs:choice>
	</xs:complexType>	
	<xs:complexType name="REQUEST_EXPORT_MAP">
		<xs:choice>
			<!-- root of branch to export -->
			<xs:element ref="uuid"/>
			<!-- export only root, no subnodes ? -->
			<xs:element name="requestinfo_exportOnlyRoot" type="xs:boolean"/>
			<!-- which addresses to export if virtual top node (no uuid) is selected, = IMdekCaller.AddressArea Enumeration const -->
			<xs:element name="requestinfo_exportAddressArea" type="xs:integer"/>
			<!-- export only objects marked with given criterion -->
			<xs:element name="export-criterion-value" type="xs:string"/>
			<!-- include export result data in requested export info ? -->
			<xs:element name="requestinfo_exportInfoIncludeData" type="xs:boolean"/>
		</xs:choice>
	</xs:complexType>	
	<xs:complexType name="REQUEST_IMPORT_MAP">
		<xs:choice>
			<xs:element name="requestinfo_importData" type="BYTE_ARRAY"/>
			<!-- object / address node where new objects / addresses are imported underneath -->
			<xs:element name="requestinfo_importObjParentUuid" type="xs:string"/>
			<xs:element name="requestinfo_importAddrParentUuid" type="xs:string"/>
			<!-- publish imported entities immediately ? -->
			<xs:element name="requestinfo_importPublishImmediately" type="xs:boolean"/>
		</xs:choice>
	</xs:complexType>	
	<xs:complexType name="PATH_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="PATH_MAP" type="PATH_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PATH_MAP">
		<xs:all>
			<xs:element ref="organisation"/>
			<xs:element ref="class"/>
		</xs:all>
	</xs:complexType>	
	<xs:complexType name="RESULT_ADDITIONAL_INFO_MAP">
		<xs:all>
			<xs:element name="resultinfo_wasFullyDeleted" type="xs:boolean"/>
			<xs:element name="resultinfo_wasMarkedDeleted" type="xs:boolean"/>
			<xs:element name="resultinfo_hasWorkingCopy" type="xs:boolean"/>
			<xs:element name="resultinfo_numberOfProcessedEntities" type="xs:integer"/>
			<xs:element name="resultinfo_uuidOfFoundEntity" type="UUID"/>
			<!-- e.g. type of operation the user performed on an entity, = MdekUtils.UserOperation Enumeration const -->
			<xs:element name="resultinfo_userOperation" type="xs:integer"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="RESULT_SEARCH_MAP">
		<xs:all>
			<!-- number of entities in list -->
			<xs:element name="total-num" type="xs:long"/>
			<xs:element name="adrEntities" type="ADDRESS_LIST"/>
			<xs:element name="objEntities" type="OBJECT_LIST"/>
			<!-- total number of entities for paging -->
			<xs:element name="total-num-paging" type="xs:long"/>
			<!-- csv result as string containing csv lines -->
			<xs:element name="csv-result" type="xs:string"/>
		</xs:all>
	</xs:complexType>	
	<xs:complexType name="RESULT_VERSION_MAP">
		<xs:all>
			<!-- version of mdek api (client )-->
			<xs:element name="api.build.name" type="xs:string"/>
			<xs:element name="api.build.version" type="xs:string"/>
			<xs:element name="api.build.number" type="xs:string"/>
			<xs:element name="api.build.timestamp" type="xs:string"/>
			<!-- version of mdek server (iPlug )-->
			<xs:element name="server.build.name" type="xs:string"/>
			<xs:element name="server.build.version" type="xs:string"/>
			<xs:element name="server.build.number" type="xs:string"/>
			<xs:element name="server.build.timestamp" type="xs:string"/>
		</xs:all>
	</xs:complexType>	
	<xs:complexType name="RESULT_SECURITY_MAP">
		<xs:choice>
			<!-- get group -->
			<xs:element name="GROUP_MAP" type="GROUP_MAP"/>
			<!-- get user -->
			<xs:element name="IDC_USER_MAP" type="IDC_USER_MAP"/>
			<!-- get groups -->
			<xs:element name="groups" type="GROUP_LIST"/>
			<!-- get users -->
			<xs:element name="idc-users" type="IDC_USER_LIST"/>
			<!-- get permissions on object/address -->
			<xs:element name="idc-permissions" type="PERMISSION_LIST"/>
		</xs:choice>
	</xs:complexType>	
	<xs:complexType name="GROUP_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="GROUP_MAP" type="GROUP_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GROUP_MAP">
		<xs:all>
			<xs:element name="idc-group-id" type="xs:long"/>
			<xs:element ref="name"/>
			<xs:element ref="date-of-creation"/>
			<xs:element ref="date-of-last-modification"/>
			<xs:element ref="mod-user"/>
			<xs:element name="idc-address-permissions" type="ENTITY_PERMISSION_LIST"/>
			<xs:element name="idc-object-permissions" type="ENTITY_PERMISSION_LIST"/>
			<xs:element name="idc-user-permissions" type="PERMISSION_LIST"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="RESULT_STATISTICS_MAP">
		<xs:choice>
			<!-- STATISTICS_CLASSES_AND_STATES  -->
			<!-- e.g. use as key 0 ("Organisationseinheit") or 2 ("Dokument") and get map with statistics of that entity class (total num and num workstates) -->
			<xs:element name="KEY_IS_ENTITYCLASS_DB_VALUE" type="STATISTICS_ENTITYCLASS_MAP"/>
			<!-- STATISTICS_SEARCHTERMS_FREE / STATISTICS_SEARCHTERMS_THESAURUS -->
			<!-- ordered by num occurences of searchterms descending -->
			<xs:element name="statistics-searchterm-list" type="STATISTICS_SEARCHTERM_LIST"/>
			<!-- number of assigned search terms in tree branch (same searchterm may occur multiple times) -->
			<xs:element name="total-num" type="xs:long"/>
			<!-- number of distinct search terms for paging -->
			<xs:element name="total-num-paging" type="xs:long"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="STATISTICS_ENTITYCLASS_MAP">
		<xs:sequence minOccurs="1" maxOccurs="1">
			<!-- total number of entities of  specific class -->
			<xs:element name="total-num" type="xs:long"/>
			<!-- number of entities of  specific class in different workstates -->
			<xs:element name="STATISTICS_WORKSTATE_MAP" type="STATISTICS_WORKSTATE_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="STATISTICS_WORKSTATE_MAP">
		<xs:sequence minOccurs="1" maxOccurs="4">
			<!-- e.g. use as key "B" ("in Bearbeitung") or "V" ("veroeffentlicht") and get number of entities in that work state (long) -->
			<xs:element name="KEY_IS_WORKSTATE_DB_VALUE" type="xs:long"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="STATISTICS_SEARCHTERM_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="STATISTICS_SEARCHTERM_MAP" type="STATISTICS_SEARCHTERM_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="STATISTICS_SEARCHTERM_MAP">
		<xs:sequence>
			<xs:element name="term-name" type="xs:string"/>
			<xs:element name="total-num" type="xs:long"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RESULT_JOBINFO_MAP">
		<xs:choice>
			<xs:element name="jobinfo-start-time" type="xs:string"/>
			<xs:element name="jobinfo-end-time" type="xs:string"/>
			<!-- e.g. current number of exported objects at runtime -->
			<xs:element name="jobinfo-num-objects" type="xs:integer"/>
			<!-- e.g. total number of objects to export -->
			<xs:element name="jobinfo-total-num-objects" type="xs:integer"/>
			<!-- e.g. current number of exported addresses at runtime -->
			<xs:element name="jobinfo-num-addresses" type="xs:integer"/>
			<!-- e.g. total number of addresses to export -->
			<xs:element name="jobinfo-total-num-addresses" type="xs:integer"/>
			<xs:element name="jobinfo-messages" type="xs:string"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="RESULT_EXPORT_MAP">
		<xs:complexContent>
			<xs:extension base="RESULT_JOBINFO_MAP">
				<xs:sequence>
					<!-- result of export ! (e.g. zipped XML data) -->
					<xs:element name="export-result" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RESULT_IMPORT_MAP">
		<xs:complexContent>
			<xs:extension base="RESULT_JOBINFO_MAP">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ENTITY_PERMISSION_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="ENTITY_PERMISSION_MAP" type="ENTITY_PERMISSION_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ENTITY_PERMISSION_MAP">
		<xs:sequence>
			<!-- entity uuid (address or object) -->
			<xs:element ref="uuid"/>
			<!-- detailed entity data only when requesting group -->
			<xs:choice>
				<!-- object -->
				<xs:sequence>
					<xs:element name="title" type="xs:string"/>
					<xs:element ref="class"/>
				</xs:sequence>
				<!-- address -->
				<xs:sequence>
					<xs:element ref="organisation"/>
					<xs:element ref="name"/>
					<xs:element ref="given-name"/>
					<xs:element name="title-or-function" type="xs:string"/>
					<xs:element name="title-or-function-key" type="xs:integer"/>
					<xs:element ref="class"/>
				</xs:sequence>
			</xs:choice>
			<!-- also child data, could be visualized in tree -->
			<xs:element ref="hasChild"/>
			<!-- permission (action) -->
			<xs:element name="PERMISSION_MAP" type="PERMISSION_MAP"/>
		</xs:sequence>
	</xs:complexType>	
	<xs:complexType name="PERMISSION_MAP">
		<xs:sequence>
			<!-- permission (client side id string from enumeration) -->
			<xs:element name="idc-permission" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>	
	<xs:complexType name="IDC_USER_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="IDC_USER_MAP" type="IDC_USER_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IDC_USER_MAP">
		<xs:all>
			<xs:element name="idc-user-id" type="xs:long"/>
			<xs:element name="idc-user-addr-uuid" type="xs:string"/>
			<xs:element name="idc-group-id" type="xs:long"/>
			<xs:element name="idc-role" type="xs:integer"/>
			<xs:element name="parent-idc-user-id" type="xs:long"/>
			<xs:element ref="hasChild"/>
			<xs:element ref="date-of-creation"/>
			<xs:element ref="date-of-last-modification"/>
			<xs:element ref="mod-user"/>
			<xs:element name="ADDRESS_MAP" type="ADDRESS_MAP"/>
			<!-- e.g. detailed permissions of user on entity -->
			<xs:element name="idc-permissions" type="PERMISSION_LIST"/>
		</xs:all>
	</xs:complexType>	
	<xs:complexType name="PERMISSION_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="PERMISSION_MAP" type="PERMISSION_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ADDITIONAL_FIELD_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="ADDITIONAL_FIELD_MAP" type="ADDITIONAL_FIELD_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ADDITIONAL_FIELD_MAP">
		<xs:sequence>
			<xs:element ref="sys-additional-field-identifier"/>
			<xs:element ref="sys-additional-field-name"/>
			<xs:element name="additional-field-value" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="sys-additional-field-identifier" type="xs:long"/>
	<xs:element name="sys-additional-field-name" type="xs:string"/>
	<xs:complexType name="RESULT_RUNNING_JOBS_MAP">
		<xs:all>
			<xs:element name="runningjob-description" type="xs:string"/>
			<xs:element name="runningjob-number-processed-entities" type="xs:integer"/>
			<xs:element name="runningjob-number-total-entities" type="xs:integer"/>
			<xs:element name="runningjob-canceled-by-user" type="xs:boolean"/>
			<xs:element name="runningjob-messages" type="xs:string"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="RESULT_SYS_LIST_MAP">
		<xs:all>
			<!-- SYS LIST EXAMPLE ! list ids are passed in request ! keys start with "sys-list-" -->
			<xs:element name="sys-list-1100" type="SYS_LIST_MAP"/>
			<xs:element name="sys-list-...." type="SYS_LIST_MAP"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="SYS_LIST_MAP">
		<xs:sequence>
			<xs:element name="lst-id" type="xs:integer"/>
			<xs:element name="lst-entry-list" type="SYS_LIST_ENTRY_LIST"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SYS_LIST_ENTRY_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="SYS_LIST_ENTRY_MAP" type="SYS_LIST_ENTRY_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SYS_LIST_ENTRY_MAP">
		<xs:sequence>
			<xs:element name="entry-id" type="xs:integer"/>
			<xs:element name="entry-name" type="xs:string"/>
			<xs:element name="is-default" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RESULT_SYS_GUI_MAP">
		<xs:all>
			<!-- Example of returned GUI elements ! id of gui element is KEY into map -->
			<xs:element name="GUI_ELEMENT1_ID" type="SYS_GUI_ELEMENT_MAP"/>
			<xs:element name="GUI_ELEMENT2...." type="SYS_GUI_ELEMENT_MAP"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="SYS_GUI_ELEMENT_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="SYS_GUI_ELEMENT_MAP" type="SYS_GUI_ELEMENT_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SYS_GUI_ELEMENT_MAP">
		<xs:sequence>
			<xs:element name="sys-gui-id" type="xs:string"/>
			<xs:element name="sys-gui-behaviour" type="xs:integer"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RESULT_SYS_ADDITIONAL_FIELDS_MAP">
		<xs:sequence>
			<!-- SYS ADDITIONAL FIELD EXAMPLE ! field ids are passed in request ! keys start with "sys-additional-field-" -->
			<xs:element name="sys-additional-field-1100" type="SYS_ADDITIONAL_FIELD_MAP"/>
			<xs:element name="sys-additional-field-...." type="SYS_ADDITIONAL_FIELD_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SYS_ADDITIONAL_FIELD_MAP">
		<xs:sequence>
			<xs:element ref="sys-additional-field-identifier"/>
			<xs:element ref="sys-additional-field-name"/>
			<xs:element name="sys-additional-field-length" type="xs:integer"/>
			<xs:element name="sys-additional-field-type"  type="xs:string"/>
			<xs:element minOccurs="0" name="sys-additional-field-list-type"  type="xs:string"/>
			<!-- SYS ADDITIONAL FIELD LIST ITEMS EXAMPLE ! multiple languages ! keys start with "sys-additional-field-list-items-" -->
			<xs:element name="sys-additional-field-list-items-de" type="STRING_ARRAY"/>
			<xs:element name="sys-additional-field-list-items-en" type="STRING_ARRAY"/>
			<xs:element name="sys-additional-field-list-items-.." type="STRING_ARRAY"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OBJECT_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="OBJECT_MAP" type="OBJECT_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UUID_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="STRING"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="STRING_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="STRING" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="INTEGER_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="INTEGER" type="xs:integer"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="INTEGER_ARRAY">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="INTEGER" type="xs:integer"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LONG_ARRAY">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="LONG" type="xs:long"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="STRING_ARRAY">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="STRING" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BYTE_ARRAY">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="BYTE" type="xs:byte"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SPATIAL_REF_MAP">
		<xs:sequence>
			<xs:element name="vertical-extent-minimum" type="xs:double"/>
			<xs:element name="vertical-extent-maximum" type="xs:double"/>
			<xs:element name="vertical-extent-unit" type="xs:integer"/>
			<xs:element name="vertical-extent-vdatum" type="xs:integer"/>
			<xs:element name="description-of-spatial-domain" type="xs:string"/>
			<xs:element name="locations" type="LOCATION_LIST"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LOCATION_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="LOCATION_MAP" type="LOCATION_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LOCATION_MAP">
		<xs:sequence>
			<xs:element name="location-name" type="xs:string"/>
			<xs:element name="location-name-key" type="xs:integer"/>
			<xs:element name="location-type" type="xs:string"/>
			<xs:element name="location-code" type="xs:string"/>
			<xs:element name="location-sns-id" type="xs:string"/>
			<xs:element name="west-bounding-coordinate" type="xs:double"/>
			<xs:element name="east-bounding-coordinate" type="xs:double"/>
			<xs:element name="north-bounding-coordinate" type="xs:double"/>
			<xs:element name="south-bounding-coordinate" type="xs:double"/>
			<xs:element name="sns-topic-type" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SUBJECT_TERM_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="SUBJECT_TERM_MAP" type="SUBJECT_TERM_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SUBJECT_TERM_MAP">
		<xs:sequence>
			<xs:element name="term-name" type="xs:string"/>
			<xs:element name="term-type" type="xs:string"/>
			<xs:element ref="term-sns-id"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="term-sns-id" type="xs:string"/>

	<xs:complexType name="TIME_MAP">
		<xs:sequence>
			<xs:element name="time-type" type="xs:string"/>
			<xs:element name="beginning-date" type="TIMESTAMP"/>
			<xs:element name="ending-date" type="TIMESTAMP"/>
			<xs:element name="time-status" type="xs:integer"/>
			<xs:element name="time-period" type="xs:integer"/>
			<xs:element name="time-step" type="xs:string"/>
			<xs:element name="time-scale" type="xs:string"/>
			<xs:element name="description-of-temporal-domain" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LINKAGE_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="LINKAGE_MAP" type="LINKAGE_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LINKAGE_MAP">
		<xs:sequence>
			<xs:element name="linkage-url" type="xs:string"/>
			<xs:element name="linkage-reference-id" type="xs:integer"/>
			<xs:element name="linkage-reference" type="xs:string"/>
			<xs:element name="linkage-datatype" type="xs:string"/>
			<xs:element name="linkage-datatype-key" type="xs:integer"/>
			<xs:element name="linkage-volume" type="xs:string"/>
			<xs:element name="linkage-icon-url" type="xs:string"/>
			<xs:element name="linkage-icon-text" type="xs:string"/>
			<xs:element name="linkage-description" type="xs:string"/>
			<xs:element name="linkage-name" type="xs:string"/>
			<xs:element name="linkage-url-type" type="xs:integer"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DATASET_REFERENCE_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="DATASET_REFERENCE_MAP" type="DATASET_REFERENCE_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DATASET_REFERENCE_MAP">
		<xs:sequence>
			<xs:element name="dataset-reference-date" type="TIMESTAMP"/>
			<xs:element name="dataset-reference-type" type="xs:integer"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DATA_FORMAT_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="DATA_FORMAT_MAP" type="DATA_FORMAT_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DATA_FORMAT_MAP">
		<xs:sequence>
			<xs:element name="format-name" type="xs:string"/>
			<xs:element name="format-version" type="xs:string"/>
			<xs:element name="format-specification" type="xs:string"/>
			<xs:element name="format-file-decompression-technique" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MEDIUM_OPTION_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="MEDIUM_OPTION_MAP" type="MEDIUM_OPTION_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MEDIUM_OPTION_MAP">
		<xs:sequence>
			<xs:element name="medium-name" type="xs:integer"/>
			<xs:element name="medium-transfer-size" type="xs:double"/>
			<xs:element name="medium-note" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OBJ_RELATIONS_MAP">
		<xs:sequence>
			<xs:element ref="relation-type-name"/>
			<xs:element ref="relation-type-ref"/>
			<xs:element name="relation-description" type="xs:string"/>
			<xs:element name="objReferencesFrom" type="OBJECT_LIST"/>
			<xs:element name="objReferencesFromPublishedOnly" type="OBJECT_LIST"/>
			<xs:element name="objReferencesTo" type="OBJECT_LIST"/>
			<xs:element name="adrReferencesTo" type="ADDRESS_LIST"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ADDRESS_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="ADDRESS_MAP" type="ADDRESS_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="COMMUNICATION_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="COMMUNICATION_MAP" type="COMMUNICATION_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="COMMUNICATION_MAP">
		<xs:sequence>
			<xs:element name="communication-medium" type="xs:string"/>
			<xs:element name="communication-medium-key" type="xs:integer"/>
			<xs:element name="communication-value"  type="xs:string"/>
			<xs:element name="communication-description" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ADR_RELATIONS_MAP">
		<xs:sequence>
			<!-- db: type -->
			<xs:element name="relation-type-id" type="xs:integer"/>
			<xs:element ref="relation-type-name"/>
			<xs:element ref="relation-type-ref"/>
			<xs:element name="relation-date-of-last-modification" type="TIMESTAMP"/>
			<xs:element name="objReferencesFrom_startIndex" type="xs:integer"/>
			<xs:element name="objReferencesFrom_totalNum" type="xs:integer"/>
			<xs:element name="objReferencesFrom" type="OBJECT_LIST"/>
			<xs:element name="objReferencesFromPublishedOnly" type="OBJECT_LIST"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TECHNICAL_DOMAIN_MAP_MAP">
		<xs:sequence>
			<xs:element name="technical-base" type="xs:string"/>
			<xs:element name="data" type="xs:string"/>
			<xs:element name="method-of-production" type="xs:string"/>
			<xs:element name="coordinate-system" type="xs:string"/>
			<xs:element name="resolution" type="xs:double"/>
			<xs:element name="degree-of-record" type="xs:double"/>
			<xs:element name="hierarchy-level" type="xs:integer"/>
			<xs:element name="vector-topology-level" type="xs:integer"/>
			<xs:element name="referencesystem-id" type="xs:integer"/>
			<xs:element name="pos-accuracy-vertical" type="xs:double"/>
			<xs:element name="keyc-incl-w-dataset" type="xs:integer"/>
			<xs:element name="datasource-uuid" type="xs:string"/>
			<xs:element name="key-catalog-list" type="TECHNICAL_DOMAIN_MAP_KEY_CATALOG_LIST"/>
			<xs:element name="publication-scale-list" type="TECHNICAL_DOMAIN_GENERIC_PUBLICATION_SCALE_LIST"/>
			<xs:element name="symbol-catalog-list" type="TECHNICAL_DOMAIN_MAP_SYMBOL_CATALOG_LIST"/>
			<xs:element name="feature-type-list" type="STRING_LIST"/>
			<xs:element name="geo-vector-list" type="TECHNICAL_DOMAIN_MAP_GEO_VECTOR_LIST"/>
			<xs:element name="spatial-representation-type-list" type="INTEGER_LIST"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TECHNICAL_DOMAIN_MAP_GEO_VECTOR_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="TECHNICAL_DOMAIN_MAP_GEO_VECTOR_MAP" type="TECHNICAL_DOMAIN_MAP_GEO_VECTOR_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TECHNICAL_DOMAIN_MAP_GEO_VECTOR_MAP">
		<xs:sequence>
			<xs:element name="geometric-object-type" type="xs:integer"/>
			<xs:element name="geometric-object-count" type="xs:integer"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TECHNICAL_DOMAIN_MAP_KEY_CATALOG_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="TECHNICAL_DOMAIN_MAP_KEY_CATALOG_MAP" type="TECHNICAL_DOMAIN_MAP_KEY_CATALOG_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TECHNICAL_DOMAIN_MAP_KEY_CATALOG_MAP">
		<xs:sequence>
			<xs:element name="subject-cat" type="xs:string"/>
			<xs:element name="subject-cat-key" type="xs:integer"/>
			<xs:element name="key-date" type="xs:string"/>
			<xs:element name="edition" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TECHNICAL_DOMAIN_GENERIC_PUBLICATION_SCALE_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="TECHNICAL_DOMAIN_GENERIC_PUBLICATION_SCALE_MAP" type="TECHNICAL_DOMAIN_GENERIC_PUBLICATION_SCALE_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TECHNICAL_DOMAIN_GENERIC_PUBLICATION_SCALE_MAP">
		<xs:sequence>
			<xs:element name="scale" type="xs:integer"/>
			<xs:element name="resolution-ground" type="xs:double"/>
			<xs:element name="resolution-scan" type="xs:double"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TECHNICAL_DOMAIN_MAP_SYMBOL_CATALOG_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="TECHNICAL_DOMAIN_MAP_SYMBOL_CATALOG_MAP" type="TECHNICAL_DOMAIN_MAP_SYMBOL_CATALOG_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TECHNICAL_DOMAIN_MAP_SYMBOL_CATALOG_MAP">
		<xs:sequence>
			<xs:element name="symbol-cat" type="xs:string"/>
			<xs:element name="symbol-cat-key" type="xs:integer"/>
			<xs:element name="symbol-date" type="xs:string"/>
			<xs:element name="symbol-edition" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TECHNICAL_DOMAIN_SERVICE_MAP">
		<xs:sequence>
			<xs:element name="service-type" type="xs:string"/>
			<xs:element name="service-type-key" type="xs:integer"/>
			<xs:element name="system-history" type="xs:string"/>
			<xs:element name="system-environment" type="xs:string"/>
			<xs:element name="database-of-system" type="xs:string"/>
			<xs:element name="description-of-tech-domain" type="xs:string"/>
			<xs:element name="service-version-list" type="STRING_LIST"/>
			<xs:element name="service-operation-list" type="TECHNICAL_DOMAIN_SERVICE_OP_LIST"/>
			<xs:element name="service-type2-list" type="TECHNICAL_DOMAIN_SERVICE_TYPE2_LIST"/>
			<xs:element name="publication-scale-list" type="TECHNICAL_DOMAIN_GENERIC_PUBLICATION_SCALE_LIST"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TECHNICAL_DOMAIN_SERVICE_OP_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="TECHNICAL_DOMAIN_SERVICE_OP_MAP" type="TECHNICAL_DOMAIN_SERVICE_OP_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TECHNICAL_DOMAIN_SERVICE_OP_MAP">
		<xs:sequence>
			<xs:element name="service-operation-name" type="xs:string"/>
			<xs:element name="service-operation-name-key" type="xs:integer"/>
			<xs:element name="service-operation-description" type="xs:string"/>
			<xs:element name="invocation-name" type="xs:string"/>
			<xs:element name="platform-list" type="STRING_LIST"/>
			<xs:element name="depends-on-list" type="STRING_LIST"/>
			<xs:element name="connect-point-list" type="STRING_LIST"/>
			<xs:element name="parameter-list" type="TECHNICAL_DOMAIN_SERVICE_OP_PARAM_LIST"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TECHNICAL_DOMAIN_SERVICE_TYPE2_LIST">
		<xs:sequence minOccurs="1" maxOccurs="unbounded">
			<xs:element name="TECHNICAL_DOMAIN_SERVICE_TYPE2_MAP" type="TECHNICAL_DOMAIN_SERVICE_TYPE2_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TECHNICAL_DOMAIN_SERVICE_TYPE2_MAP">
		<xs:sequence>
			<xs:element name="service-type2-key" type="xs:integer"/>
			<xs:element name="service-type2-value" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TECHNICAL_DOMAIN_SERVICE_OP_PARAM_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="TECHNICAL_DOMAIN_SERVICE_OP_PARAM_MAP" type="TECHNICAL_DOMAIN_SERVICE_OP_PARAM_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TECHNICAL_DOMAIN_SERVICE_OP_PARAM_MAP">
		<xs:sequence>
			<xs:element name="parameter-name" type="xs:string"/>
			<xs:element name="direction" type="xs:string"/>
			<xs:element name="description" type="xs:string"/>
			<xs:element name="optionality" type="xs:integer"/>
			<xs:element name="repeatability" type="xs:integer"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TECHNICAL_DOMAIN_PROJECT_MAP">
		<xs:sequence>
			<xs:element name="leader-description" type="xs:string"/>
			<xs:element name="member-description" type="xs:string"/>
			<xs:element name="description-of-tech-domain" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TECHNICAL_DOMAIN_DOCUMENT_MAP">
		<xs:sequence>
			<xs:element name="author" type="xs:string"/>
			<xs:element name="editor" type="xs:string"/>
			<xs:element name="type-of-document" type="xs:string"/>
			<xs:element name="type-of-document-key" type="xs:integer"/>
			<xs:element name="published-in" type="xs:string"/>
			<xs:element name="volume" type="xs:string"/>
			<xs:element name="pages" type="xs:string"/>
			<xs:element name="year" type="xs:string"/>
			<xs:element name="publishing-place" type="xs:string"/>
			<xs:element name="location" type="xs:string"/>
			<xs:element name="additional-bibliographic-info" type="xs:string"/>
			<xs:element name="source" type="xs:string"/>
			<xs:element name="isbn" type="xs:string"/>
			<xs:element name="publisher" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TECHNICAL_DOMAIN_DATASET_MAP">
		<xs:sequence>
			<xs:element name="method" type="xs:string"/>
			<xs:element name="description-of-tech-domain" type="xs:string"/>
			<xs:element name="parameters" type="TECHNICAL_DOMAIN_DATASET_PARA_LIST"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TECHNICAL_DOMAIN_DATASET_PARA_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="TECHNICAL_DOMAIN_DATASET_PARA_MAP" type="TECHNICAL_DOMAIN_DATASET_PARA_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TECHNICAL_DOMAIN_DATASET_PARA_MAP">
		<xs:sequence>
			<xs:element name="parameter" type="xs:string"/>
			<xs:element name="supplementary-information" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="COMMENT_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="COMMENT_MAP" type="COMMENT_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="COMMENT_MAP">
		<xs:sequence>
			<xs:element name="comment" type="xs:string"/>
			<xs:element name="create-user"  type="ADDRESS_MAP"/>
			<xs:element name="create-time" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CONFORMITY_LIST">
		<xs:sequence minOccurs="1" maxOccurs="unbounded">
			<xs:element name="CONFORMITY_MAP" type="CONFORMITY_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CONFORMITY_MAP">
		<xs:sequence>
			<xs:element name="conformity-specification" type="xs:string"/>
			<xs:element name="conformity-publication-date" type="xs:string"/>
			<xs:element name="conformity-degree-key" type="xs:integer"/>
			<xs:element name="conformity-degree-value" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ACCESS_LIST">
		<xs:sequence minOccurs="1" maxOccurs="unbounded">
			<xs:element name="ACCESS_MAP" type="ACCESS_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ACCESS_MAP">
		<xs:sequence>
			<xs:element name="access-restriction-key" type="xs:integer"/>
			<xs:element name="access-restriction-value" type="xs:string"/>
			<xs:element name="access-terms-of-use" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OBJ_PARENT_INFO_MAP">
		<xs:sequence>
			<xs:element name="publication-condition" type="xs:integer"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ADDR_PARENT_INFO_MAP">
		<xs:sequence>
			<xs:element ref="class"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RESULT_CATALOG_MAP">
		<xs:sequence>
			<xs:element ref="uuid"/>
			<xs:element name="catalog-name" type="xs:string"/>
			<xs:element name="partner-name" type="xs:string"/>
			<xs:element name="provider-name" type="xs:string"/>
			<xs:element name="country" type="xs:string"/>
			<xs:element ref="language"/>
			<xs:element name="workflow-control" type="xs:string"/>
			<xs:element name="expiry-duration" type="xs:integer"/>
			<xs:element name="catalog-location" type="LOCATION_MAP"/>
			<xs:element ref="date-of-creation"/>
			<xs:element ref="mod-user"/>
			<xs:element ref="date-of-last-modification"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EXPORT_CRITERIA_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="EXPORT_CRITERION_MAP" type="EXPORT_CRITERION_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EXPORT_CRITERION_MAP">
		<xs:sequence>
			<xs:element name="export-criterion-value" type="xs:string"/>
			<xs:element name="export-criterion-key" type="xs:integer"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LEGISLATION_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="LEGISLATION_MAP" type="LEGISLATION_MAP"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LEGISLATION_MAP">
		<xs:sequence>
			<xs:element name="legislation-value" type="xs:string"/>
			<xs:element name="legislation-key" type="xs:integer"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OBJECT_CLASS_LIST">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="class"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
